ccoefs
cep
cg_tmp_*
dur.dur.S25.out
ehmm
emu
f0
festival
group
lar
lpc
mcep
mcep_deltas
mcep_sptk
mvar.txt
nohup.out
phr
pm
pm_lab
pm_unfilled
prompt-cep
prompt-lab
prompt-lab.bak
prompt-utt
prompt-wav
recording
scratch
sptk_f0
sptkf0_tmp.*
syl
test
tmp.txt
utthmmfile
v
versions
wrd
